.add-task {
  /* background-color: antiquewhite; */
  width: 100%;
  height: 70vh;
  margin: auto;
  margin-top: 50px;
  gap: 10px;
}
.add-task img {
  height: 100px;
}
.add-task h3 {
  display: flex;
  gap: 20px;
  align-items: center;
  padding-left: 20px;
}

.add-task form {
  /* background-color: aliceblue; */
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-top: 30px;
}

.add-task label {
  font-size: 12px;
  background-color: rgba(255, 255, 255, 0);
}
.add-task p {
  width: 250px;
  font-size: smaller;
  color: red;
}
.add-task input {
  height: 35px;
  width: 300px;
  border: none;
  background-color: rgb(240, 240, 240);
  border-bottom: 1px solid grey;
  border-radius: 5px;
  padding-left: 14px;
}
.add-task option {
  width: 100px;
  background-color: antiquewhite;
}
.add-task textarea {
  height: 50px;
  width: 300px;
  border: none;
  background-color: rgb(240, 240, 240);
  border-bottom: 1px solid grey;
  border-radius: 5px;
  padding-left: 14px;
  padding-top: 6px;
}
.add-task button {
  padding: 3px 10px;
  width: 300px;
  border: none;
  padding: 10px;
  background-color: rgb(56, 56, 56);
  color: white;
  border-radius: 5px;
}
.add-task .poster-added {
  display: grid;
  place-items: center; /* background-color: aqua; */
  height: 200px;
  width: 200px;
  position: relative;
  background-color: rgb(230, 230, 230);
}
.add-task .poster-added button {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
}
.add-task .poster-added .img-array {
  display: flex;
  gap: 10px;
  width: 100%;
  overflow-x: scroll;
  padding: 5px 10px;
  /* background-color: aqua; */
}
.add-task .img-card {
  background-color: antiquewhite;
  width: fit-content;
  position: relative;
}
.add-task .img-card i {
  position: absolute;
  top: 5px;
  left: 5px;
  background-color: aliceblue;
  padding: 2px 3px;
  border-radius: 50%;
}
.add-task .add-photo-1 {
  background-color: rgb(237, 237, 237);
  height: 200px;
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.add-task .fa-image {
  font-size: 40px;
}

.add-task form .select {
  height: 55px;
  width: 300px;
  border: none;
  background-color: rgb(240, 240, 240);
  border-bottom: 1px solid grey;
  border-radius: 5px;
  /* padding: 0px 14px; */
  padding-left: 14px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow-x: scroll;
  /* text-overflow: clip; */
  white-space: nowrap;
  position: relative;
}

.add-task form .select .fa-angle-down {
  position: sticky;
  /* background-color: aqua; */
  background-color: rgb(240, 240, 240);
  border-radius: 5px;
  padding: 8px;
  right: 0px;
}
.add-task form .select .fa-xmark {
  padding-top: 1px;
  /* background-color: rgb(193, 70, 107); */
}
.add-task form .select .array {
  /* background-color: aqua; */
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  gap: 5px;
  overflow-x: scroll;
}
.add-task form .select td {
  border: 1px solid black;
  padding: 1px 10px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  /* background-color: antiquewhite; */
  justify-content: space-between;
  gap: 10px;
}
.add-task form .options {
  width: 300px;
  height: auto;
  padding: 10px;
  background-color: antiquewhite;
  margin-top: 5px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 5px;
}

.add-task form .options span {
  border: 1px solid black;
  /* width: 200px; */
  border-radius: 5px;
  padding: 3px 10px;
}
